<div class="off-canvas-sidebar login-page">
    <nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute" color-on-scroll="500">
        <header-component></header-component>
    </nav>
    <div class="page-header header-filter" filter-color="black" style="background-image: url('../assets/img/lock.jpg'); background-size: cover; background-position: top center;">
        <div class="wrapper wrapper-full-page">
            <div class="content">
                <router-view></router-view>
            </div>
        </div>
        <div class="footer">
            <footer-component></footer-component>
        </div>
    </div>
</div>
