
<div class="container">
    <div class="pull-left">
        <ul>
            <li>
                <a href="https://presentation.creative-tim.com">
                    About Us
                </a>
            </li>
            <li>
                <a href="https://blog.creative-tim.com">
                    Blog
                </a>
            </li>
            <li>
                <a href="https://www.creative-tim.com/license">
                    Licenses
                </a>
            </li>
        </ul>
    </div>
    <div class="copyright pull-right">
    </div>
</div>




