<div class="navbar-wrapper">
    <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
            <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
            <div class="ripple-container"></div>
        </button>
    </div>
    <a class="navbar-brand" href="#pablo"> {{$route.name.toUpperCase() }}<div class="ripple-container"></div></a>
</div>