<div class="d-block">
    <!-- Search Widget -->
    <div class="card mb-4" >
        <div class="card-header">
            PURPOSE
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">FOR RENT</li>
            <li class="list-group-item">FOR SALE</li>
            <li class="list-group-item">TAKE OVER</li>
        </ul>
    </div>

    <div class="card mb-4" >
        <div class="card-header">
            STATUS
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ACTIVE</li>
            <li class="list-group-item">INACTIVE</li>
        </ul>
    </div>
</div>
