<div>
    <ul class="nav nav-tabs" id="propertyTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">GENERAL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="document-tab" data-toggle="tab" href="#document" role="tab" aria-controls="document" aria-selected="false">DOCUMENT</a>
        </li>
    </ul>
    <div class="tab-content" id="propertyTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">THIS IS GENERAL</div>
        <div class="tab-pane fade" id="document" role="tabpanel" aria-labelledby="document-tab">THIS IS DOCUMENT</div>
    </div>
</div>
