<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col p-3 border-right">
            <div class="jumbotron">
                <h4>LOCATION</h4>
                <p class="lead">GOOGLE LOCALTION.</p>
            </div>
        </div>
        <div class="col p-2 ml-5">
            <div class="jumbotron">
                <h2>Drop a Line</h2>
                <h4>Don't hesitate to contact us</h4>
                <address>
                    <strong> Twitter, Inc.</strong><br />
                    1355 Market St, Suite 900<br />
                    San Francisco, CA 94103<br />
                    P: (84) 1699949166<br />
                    <strong>Full Name</strong> <br />
                    tinhanh89@gmail.com<br />
                </address>
                <div>
                    <div class="form-group">
                        <label for="formGroupNameInput">Name</label>
                        <input type="text" class="form-control" id="formGroupNameInput" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupPhone">Phone</label>
                        <input type="text" class="form-control" id="formGroupPhone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="formGroupMessage">Message</label>
                        <textarea class="form-control" id="formGroupMessage" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn-primary"> SEND MESSAGE</button>
                </div>
            </div>
        </div>
    </div>
</div>