<div class="row h-100">
    <div class="col-lg-2 pl-3 pr-0">
        <!-- left side bar -->
        <sidebar></sidebar>
    </div>
    <div class="col-lg-10 p-0 pr-3">
        <!-- navigation bar-->
        <navbar></navbar>

        <!-- Page Content -->
        <router-view></router-view>

        <!-- Footer -->
        <footer class="footer py-2 text-center bg-secondary">
            <div class="container">
                <p class="m-0 text-center">Copyright &copy; Your Website 2018</p>
            </div>
            <!-- /.container -->
        </footer>
    </div>
</div>